body {
    background: transparent !important;
}

.chatbox
{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.message
{
    background-color: #0E0E1080;
    padding: 0.5em 1em 0.5em 0.5em;
    margin-top: 0.2em;
    left: 0;
    opacity: 1;
    
    /*
        Delete animation
    */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.message.fade
{
    opacity: 0;
}

.message_text
{
    color: white;
    font-size: 34px;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px black;
}

.message_author img
{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2px;
    
    width: 36px;
    height: 36px;
}

.message_author
{
    color: pink;
    float: left;
    font-size: 34px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 0.5px black;
}

